# Backend (Spring Boot)
Access-Service/target/
Access-Service/.mvn/

API-Gateway/target/
API-Gateway/.mvn/

Auth-Service/target/
Auth-Service/.mvn/

Config-Server/target/
Config-Server/.mvn/

Feedback-Service/target/
Feedback-Service/.mvn/

Mail-Service/*
User-Service/*

Media-Service/target/
Media-Service/.mvn/

Video-Service/target/
Video-Service/.mvn/

Service-Registry/target/
Service-Registry/.mvn/
*.log